<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jdlMetadata">
            <h2><span>Jdl Metadata</span> {{jdlMetadata.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{jdlMetadata.key}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{jdlMetadata.name}}</span>
                </dd>
                <dt><span>Is Public</span></dt>
                <dd>
                    <span>{{jdlMetadata.isPublic}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{jdlMetadata.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/jdl-metadata', jdlMetadata.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
