<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-jdl-metadata-heading">Create or edit a Jdl Metadata</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!jdlMetadata.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="jdlMetadata.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_key">Key</label>
                    <input type="number" class="form-control" name="key" id="field_key"
                        [(ngModel)]="jdlMetadata.key" required/>
                    <div [hidden]="!(editForm.controls.key?.dirty && editForm.controls.key?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.key?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.key?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="jdlMetadata.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isPublic">Is Public</label>
                    <input type="checkbox" class="form-control" name="isPublic" id="field_isPublic"
                        [(ngModel)]="jdlMetadata.isPublic" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="jdlMetadata.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === jdlMetadata.user?.id ? jdlMetadata.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
