/* ==========================================================================
Statistics page styles
========================================================================== */

.chartBox {
  height: 375px;
}

.chartBoxContainer {
  margin: auto;
}
