<footer class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-3 p-3 pt-4">
  <div class="order-1 order-md-0">
    JHipster Online
  </div>

  <ul class="social-links order-0 order-md-1">
    <li>
      <a href="https://x.com/jhipster" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">
        <fa-icon prefix="fab" [icon]="['fab', 'github']"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="'comments'"></fa-icon>
      </a>
    </li>
  </ul>
</footer>
