<footer class="footer text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12 mt-5 footer-icons">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" class="btn-social btn-rounded">
                                <fa-icon prefix="fab" [icon]="['fab', 'twitter']"></fa-icon>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" class="btn-social btn-rounded">
                                <fa-icon prefix="fab" [icon]="['fab', 'github']"></fa-icon>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/jhipster/jhipster-online" target="_blank" rel="noopener noreferrer" class="btn-social btn-rounded">
                                <fa-icon [icon]="['fab', 'github']"></fa-icon>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" class="btn-social btn-rounded">
                                <fa-icon [icon]="'comments'"></fa-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    JHipster Online |
                    <a href="https://github.com/jhipster/jhipster-online/issues" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="'bug'"></fa-icon>
                        Submit a bug report
                    </a> |
                    Powered by <img src="../../../content/images/gcloud-logo.svg" alt="Google Cloud" height="92" width="92">
                </div>
            </div>
        </div>
    </div>
</footer>
