@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

/* ==========================================================================
Footer
========================================================================== */
.social-links {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;

  & a {
    color: $black;
    padding: 0.5rem;
  }
}
