<div *ngIf="!gitConfig.isGithubAvailable && !gitConfig.isGitlabAvailable">
    <h2><span class="fa fa-wrench"></span>&nbsp;<span>No GitHub or GitLab configuration available</span></h2>

    <div class="alert alert-info" role="alert">
        This JHipster Online instance is not configured with GitHub or GitLab, so you cannot generate applications on those services.
    </div>
    <p>
        If you want to use GitHub or GitLab with JHipster Online, please contact your system administrator.
    </p>
</div>

<div *ngIf="gitConfig.isGithubAvailable">
    <h2><span class="fa fa-wrench"></span>&nbsp;<span>GitHub configuration</span></h2>
    <p>
        If you give access to your GitHub account to JHipster Online, it will:
    </p>
    <ul>
        <li>Create JHipster applications on your account, using <a routerLink="/generate-application">the online application
            generator</a>.
        </li>
        <li>Read basic user data (your username and organizations) that are necessary for generating the project</li>
    </ul>

    <div class="alert alert-info" role="alert">
        You can revoke this access at any time in your <a href="{{gitConfig.githubHost}}/settings/applications">GitHub</a> settings.
    </div>

    <ng-container>
        <p class="text-center" *ngIf="!isGithubConfigured">
            <a class="btn btn-primary"
               href="{{gitConfig.githubHost}}/login/oauth/authorize?scope=user,public_repo&client_id={{gitConfig.githubClientId}}" role="button">
            <span *ngIf="!gitConfig.isAuthorizingGithub">
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
                &nbsp;Authorize GitHub
            </span>
            <span *ngIf="gitConfig.isAuthorizingGithub">
                <fa-icon [icon]="['fab', 'github']" [spin]="true"></fa-icon>
                    &nbsp;Checking GitHub link...
            </span>
            </a>
        </p>
        <p class="text-center" *ngIf="isGithubConfigured">
            <a class="btn btn-warning"
               href="{{gitConfig.githubHost}}/login/oauth/authorize?scope=user,public_repo&client_id={{gitConfig.githubClientId}}" role="button">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>&nbsp;JHipster
                is already authorized, click here to re-synchronize your GitHub account
            </a>
        </p>
    </ng-container>
</div>

<div *ngIf="gitConfig.isGitlabAvailable">
    <h2><span class="fa fa-wrench"></span>&nbsp;<span>GitLab configuration</span></h2>
    <p>
        If you give access to your GitLab account to JHipster Online, it will:
    </p>
    <ul>
        <li>Create JHipster applications on your account, using <a routerLink="/generate-application">the online application
            generator</a>.
        </li>
        <li>Read basic user data (your username and organizations) that are necessary for generating the project</li>
    </ul>

    <div class="alert alert-info" role="alert">
        You can revoke this access at any time in your <a href="{{gitConfig.gitlabHost}}/profile/applications">GitLab</a> settings.
    </div>

    <ng-container>
        <p class="text-center" *ngIf="!isGitlabConfigured">
            <a (disabled)="gitConfig.isAuthorizingGitlab" class="btn btn-primary"
               href="{{gitConfig.gitlabHost}}/oauth/authorize?client_id={{gitConfig.gitlabClientId}}&redirect_uri={{gitConfig.gitlabRedirectUri}}&response_type=code" role="button">
            <span *ngIf="!gitConfig.isAuthorizingGitlab">
                <fa-icon [icon]="['fab', 'gitlab']"></fa-icon>
                &nbsp;Authorize GitLab
            </span>
            <span *ngIf="gitConfig.isAuthorizingGitlab">
                <fa-icon [icon]="['fab', 'gitlab']" [spin]="true"></fa-icon>
                &nbsp;Checking GitLab link...
            </span>
            </a>
        </p>
        <p class="text-center" *ngIf="isGitlabConfigured">
            <a class="btn btn-warning"
               href="{{gitConfig.gitlabHost}}/oauth/authorize?client_id={{gitConfig.gitlabClientId}}&redirect_uri={{gitConfig.gitlabRedirectUri}}&response_type=code" role="button">
                <fa-icon [icon]="['fab', 'gitlab']"></fa-icon> &nbsp;JHipster
                is already authorized, click here to re-synchronize your GitLab account
            </a>
        </p>
    </ng-container>
</div>
