<div *ngIf="!isGithubAvailable && !isGitlabAvailable">
    <h2><span class="fa fa-wrench"></span>&nbsp;<span>No GitHub or GitLab configuration available</span></h2>

    <div class="alert alert-info" role="alert">
        This JHipster Online instance is not configured with GitHub or GitLab, so you cannot generate applications on those services.
    </div>
    <p>
        If you want to use GitHub or GitLab with JHipster Online, please contact your system administrator.
    </p>
</div>

<div *ngIf="isGithubAvailable">
    <h2><span class="fa fa-wrench"></span>&nbsp;<span>GitHub configuration</span></h2>
    <p>
        If you give access to your GitHub account to JHipster Online, it will:
    </p>
    <ul>
        <li>Create JHipster applications on your account, using <a routerLink="/generate-application">the online application
            generator</a>.
        </li>
        <li>Read basic user data (your username and organizations) that are necessary for generating the project</li>
    </ul>

    <div class="alert alert-info" role="alert">
        You can revoke this access at any time in your <a href="{{githubHost}}/settings/applications">GitHub</a> settings.
    </div>

    <ng-container>
        <p class="text-center" *ngIf="!isGithubConfigured">
            <a class="btn btn-primary"
               href="https://github.com/login/oauth/authorize?scope=user,public_repo&client_id={{githubClientId}}" role="button">
            <span *ngIf="!isAuthorizingGithub">
                <i class="fab fa-github"></i>
                Authorize GitHub
            </span>
                <span *ngIf="isAuthorizingGithub">
                <i class="fab fa-github fa-spin"></i>
                Checking GitHub link...
            </span>
            </a>
        </p>
        <p class="text-center" *ngIf="isGithubConfigured">
            <a class="btn btn-warning"
               href="https://github.com/login/oauth/authorize?scope=user,public_repo&client_id={{githubClientId}}" role="button">
                <i class="fab fa-github"></i> JHipster
                is already authorized, click here to re-synchronize your Github account
            </a>
        </p>
    </ng-container>
</div>

<div *ngIf="isGitlabAvailable">
    <h2><span class="fa fa-wrench"></span>&nbsp;<span>GitLab configuration</span></h2>
    <p>
        If you give access to your GitLab account to JHipster Online, it will:
    </p>
    <ul>
        <li>Create JHipster applications on your account, using <a routerLink="/generate-application">the online application
            generator</a>.
        </li>
        <li>Read basic user data (your username and organizations) that are necessary for generating the project</li>
    </ul>

    <div class="alert alert-info" role="alert">
        You can revoke this access at any time in your <a href="{{gitlabHost}}profile/applications">GitLab</a> settings.
    </div>

    <ng-container>
        <p class="text-center" *ngIf="!isGitlabConfigured">
            <a (disabled)="isAuthorizingGitlab" class="btn btn-primary"
               href="{{gitlabHost}}oauth/authorize?client_id={{gitlabClientId}}&redirect_uri={{gitlabRedirectUri}}&response_type=code" role="button">
            <span *ngIf="!isAuthorizingGitlab">
                <i class="fab fa-gitlab"></i>
                Authorize GitLab
            </span>
                <span *ngIf="isAuthorizingGitlab">
                <i class="fab fa-gitlab fa-spin"></i>
                Checking GitLab link...
            </span>
            </a>
        </p>
        <p class="text-center" *ngIf="isGitlabConfigured">
            <a class="btn btn-warning"
               href="{{gitlabHost}}oauth/authorize?client_id={{gitlabClientId}}&redirect_uri={{gitlabRedirectUri}}&response_type=code" role="button">
                <i class="fab fa-gitlab"></i> JHipster
                is already authorized, click here to re-synchronize your Gitlab account
            </a>
        </p>
    </ng-container>
</div>
