/* ==========================================================================
Developement Ribbon
========================================================================== */
.devRibbon,
.forkRibbon {
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    z-index: 9999;
    pointer-events: none;
    a {
        color: #fff;
        display: block;
        font-weight: 400;
        margin: 1px 0;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 5px #444;
        pointer-events: none;
    }
}

.forkRibbon {
    background-color: rgba(205, 235, 240, 0.75);
    position: fixed;
    left: -3.5em;
    moz-transform: rotate(45deg);
    ms-transform: rotate(45deg);
    o-transform: rotate(45deg);
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 15em;
    bottom: 40px;
}

.devRibbon {
    background-color: rgba(170, 0, 0, 0.5);
    opacity: 0.75;
    left: -3.5em;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 15em;
    top: 40px;
}
