<div class="modal-header">
    <h4 class="modal-title"><span *ngIf="!displayApplicationUrl"><i class="fas fa-sync fa-spin"></i></span><span *ngIf="displayApplicationUrl"><i class="fas fa-sync"></i></span>&nbsp;Configuring Continuous Integration/Continuous Deployment</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <pre>
Sending request to the server...
{{logs}}
                </pre>
            </div>
        </div>
        <div class="row" *ngIf="displayApplicationUrl && selectedGitProvider === 'github'">
            <div class="col-md-12">
                <div class="lead">
                    <b>Continuous Integration configured!</b>
                    <ul>
                        <li>Merge the Pull Request at <a href="https://github.com/{{selectedGitCompany}}/{{selectedGitRepository}}/pulls" target="_blank">https://github.com/{{selectedGitCompany}}/{{selectedGitRepository}}/pulls</a></li>
                        <li>Open your GitHub branch at <a href="https://github.com/{{selectedGitCompany}}/{{selectedGitRepository}}/tree/jhipster-{{ciCdTool}}-{{ciCdId}}" target="_blank">https://github.com/{{selectedGitCompany}}/{{selectedGitRepository}}/tree/jhipster-{{ciCdTool}}-{{ciCdId}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="displayApplicationUrl && selectedGitProvider === 'gitlab'">
            <div class="col-md-12">
                <div class="lead">
                    <b>Continuous Integration configured!</b>
                    <ul>
                        <li>Merge the Merge Request at <a href="{{gitlabHost}}{{selectedGitCompany}}/{{selectedGitRepository}}/merge_requests" target="_blank">{{gitlabHost}}{{selectedGitCompany}}/{{selectedGitRepository}}/merge_requests</a></li>
                        <li>Open your GitLab branch at <a href="{{gitlabHost}}{{selectedGitCompany}}/{{selectedGitRepository}}/tree/jhipster-{{ciCdTool}}-{{ciCdId}}" target="_blank">{{gitlabHost}}{{selectedGitCompany}}/{{selectedGitRepository}}/tree/jhipster-{{ciCdTool}}-{{ciCdId}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" (click)="clear()" class="btn btn-primary">
        <span class="fas fa-times-circle"></span>&nbsp;Close this window
    </button>
</div>
