<div>
    <h2 id="page-heading">
        <span>Test Frameworks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-test-framework" [routerLink]="['/test-framework/new']">
            <span class="fas fa-plus"></span>
            <span >
            Create new Test Framework
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="testFrameworks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Test Framework</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let testFramework of testFrameworks ;trackBy: trackId">
                <td><a [routerLink]="['/test-framework', testFramework.id, 'view' ]">{{testFramework.id}}</a></td>
                <td>{{testFramework.testFramework}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/test-framework', testFramework.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fas fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/test-framework', testFramework.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fas fa-pencil-alt"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-framework/'+ testFramework.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-times"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
