<div class="row">
  <div class="col-md-2">
    <span class="hipster img-fluid img-rounded"></span>
  </div>

  <div class="col-md-10">
    <h1 class="welcome-title">Welcome to <span class="text-primary">JHipster Online</span></h1>
    <p class="welcome-description mt-3">
      JHipster Online generates
      <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" data-translate="home.link.homepage">JHipster</a>
      applications, with no installation required!
    </p>
  </div>
</div>

<div [ngSwitch]="isAuthenticated()">
  <hr />
  <div *ngSwitchCase="false">
    <!-- Application Generation -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title-sm">Application Generation</h2>

        <div class="row">
          <div class="col-md-6">
            <div class="card text-white bg-primary">
              <div class="card-body">
                <h3 class="jho-card-title">
                  <fa-icon icon="rocket"></fa-icon>
                  <span>Create Application</span>
                </h3>

                <p class="jho-card-text">
                  Create a new application with an easy-to-use web form and download as a zip file, or login to push it directly to GitHub &
                  GitLab and add Continuous Integration:
                </p>

                <div class="mt-2">
                  <a class="btn btn-secondary" routerLink="/generate-application">Create Application</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mt-3 mt-md-0">
            <div class="card text-white bg-primary">
              <div class="card-body">
                <h3 class="jho-card-title">
                  <fa-icon icon="rocket"></fa-icon>
                  <span>Using JHipster Online to deploy to Azure Container Apps</span>
                </h3>

                <p class="jho-card-text">
                  JHipster Azure Container Apps is designed to streamline your full-stack Spring application development, leveraging the
                  robust infrastructure of Azure Container Apps to bring your projects to life with unprecedented ease and efficiency.
                </p>

                <div class="mt-2">
                  <a class="btn btn-secondary" routerLink="/generate-azure-application">Create Azure Application</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <!-- Account -->
    <div class="row">
      <h2 class="section-title-sm">Account</h2>

      <p class="section-description">
        Logged-in users can generate projects directly on Github & GitLab, add Continuous Integration and manage JDL configurations in their
        account.
      </p>

      <div class="col-md-6">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <h3 class="jho-card-title">
              <fa-icon icon="sign-in-alt"></fa-icon>
              <span>Sign in</span>
            </h3>
            <p class="jho-card-text">If you already have an account, please:</p>

            <div class="mt-2">
              <button type="button" class="btn btn-secondary" (click)="login()">Sign in</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3 mt-md-0">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <h3 class="jho-card-title">
              <fa-icon icon="user-plus"></fa-icon>
              <span>Register</span>
            </h3>
            <p class="jho-card-text">If you want to create a new account, please:</p>

            <div class="mt-2">
              <a class="btn btn-secondary" routerLink="account/register">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <!-- JHipster and JHipster Online are Open Source -->
    <div class="row">
      <h2 class="section-title-sm">JHipster and JHipster Online are Open Source!</h2>

      <div class="col-md-6">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <h3 class="jho-card-title">
              <fa-icon icon="rocket"></fa-icon>
              <span>JHipster</span>
            </h3>

            <p class="jho-card-text">
              JHipster is a development platform to quickly generate, develop, and deploy modern web applications & microservice
              architectures.
            </p>

            <ul class="mb-0 jho-card-links">
              <li>
                <a class="text-secondary" href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">
                  <fa-icon [icon]="['fas', 'globe']"></fa-icon>
                  <span>JHipster homepage</span>
                </a>
              </li>
              <li>
                <a class="text-secondary" href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                  <span>JHipster source code on GitHub</span>
                </a>
              </li>
              <li>
                <a class="text-secondary" href="https://x.com/jhipster" target="_blank" rel="noopener noreferrer">
                  <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon>
                  <span>JHipster on X</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3 mt-md-0">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <h3 class="jho-card-title">
              <fa-icon icon="rocket"></fa-icon>
              <span>JHipster Online</span>
            </h3>

            <div class="jho-card-text">
              <p>
                The application on
                <a class="text-secondary" href="https://start.jhipster.tech/" target="_blank" rel="noopener noreferrer"
                  >https://start.jhipster.tech/</a
                >
                is the official JHipster Online instance, which is managed by the JHipster team.
              </p>

              <p>
                Want to look at our source code or host (and modify!) your own version of JHipster Online? The project is available on
                GitHub.
              </p>
            </div>

            <ul class="mb-0 jho-card-links">
              <li>
                <a class="text-secondary" href="https://github.com/jhipster/jhipster-online" target="_blank" rel="noopener noreferrer">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                  <span>JHipster Online source code on GitHub</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="true">
    <!-- Source control services -->
    <h2 class="section-title-sm" *ngIf="gitConfig.gitlabAvailable || gitConfig.githubAvailable">
      Using JHipster Online with
      <ng-container *ngIf="gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitHub or GitLab</ng-container>
      <ng-container *ngIf="gitConfig.githubAvailable && !gitConfig.gitlabAvailable">GitHub</ng-container>
      <ng-container *ngIf="!gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitLab</ng-container>
      to get the full experience
    </h2>

    <ul class="stepper" *ngIf="gitConfig.gitlabAvailable || gitConfig.githubAvailable">
      <li class="stepper-item">
        <span class="stepper-icon">1</span>
        <a routerLink="/git">
          Step 1: Configure JHipster Online to access your
          <ng-container *ngIf="gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitHub or GitLab</ng-container>
          <ng-container *ngIf="gitConfig.githubAvailable && !gitConfig.gitlabAvailable">GitHub</ng-container>
          <ng-container *ngIf="!gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitLab</ng-container>
          account
        </a>
      </li>
      <li class="stepper-item">
        <span class="stepper-icon">2</span>
        <a routerLink="/generate-application">
          Step 2: Use JHipster Online to generate an application on
          <ng-container *ngIf="gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitHub or GitLab</ng-container>
          <ng-container *ngIf="gitConfig.githubAvailable && !gitConfig.gitlabAvailable">GitHub</ng-container>
          <ng-container *ngIf="!gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitLab</ng-container>
        </a>
      </li>
      <li class="stepper-item">
        <span class="stepper-icon">3</span>
        <a routerLink="/design-entities">Step 3: Use the JHipster Studio to add entities to your application</a>
      </li>
      <li class="stepper-item">
        <span class="stepper-icon">4</span>
        <a routerLink="/ci-cd">Step 4: Set up continuous integration for your application</a>
      </li>
    </ul>

    <hr *ngIf="gitConfig.gitlabAvailable || gitConfig.githubAvailable" />

    <!-- Using -->
    <h2 class="section-title-sm">Using JHipster Online to simply download a zipped application</h2>

    <ul class="stepper">
      <li class="stepper-item">
        <span class="stepper-icon">1</span>
        <a routerLink="/generate-application">Step 1: Use JHipster Online to generate an application</a>
      </li>
      <li class="stepper-item">
        <span class="stepper-icon">2</span>
        <a routerLink="/design-entities">Step 2: Use the JHipster Studio to design entities</a>
      </li>
    </ul>

    <hr />

    <!-- Next steps -->
    <div class="row">
      <h2 class="section-title-sm">Next steps</h2>

      <p class="section-description">
        Once your application is generated, the following links will be useful:
      </p>

      <div class="col-md-6">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <h3 class="jho-card-title">Useful links</h3>

            <ul class="mb-0 jho-card-links">
              <li>
                <a
                  class="text-secondary"
                  href="https://www.jhipster.tech/"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-translate="home.link.homepage"
                >
                  <fa-icon [icon]="['fas', 'globe']"></fa-icon>
                  <span>JHipster homepage</span>
                </a>
              </li>
              <li>
                <a
                  class="text-secondary"
                  href="http://stackoverflow.com/tags/jhipster/info"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-translate="home.link.stackoverflow"
                >
                  <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
                  <span>JHipster on Stack Overflow</span>
                </a>
              </li>
              <li>
                <a
                  class="text-secondary"
                  href="https://github.com/jhipster/generator-jhipster/issues?state=open"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-translate="home.link.bugtracker"
                >
                  <fa-icon [icon]="['fas', 'bug']"></fa-icon>
                  <span>JHipster bug tracker</span>
                </a>
              </li>
              <li>
                <a
                  class="text-secondary"
                  href="https://gitter.im/jhipster/generator-jhipster"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-translate="home.link.chat"
                >
                  <fa-icon [icon]="['fas', 'comments']"></fa-icon>
                  <span>JHipster public chat room</span>
                </a>
              </li>
              <li>
                <a
                  class="text-secondary"
                  href="https://x.com/jhipster"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-translate="home.link.follow"
                >
                  <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon>
                  <span>follow @jhipster on X</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3 mt-md-0">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <h3 class="jho-card-title">Like JHipster?</h3>

            <p class="jho-card-text">If you like JHipster, don't forget to give us a star on GitHub!</p>

            <div class="mt-3">
              <a class="btn btn-secondary" href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">
                <fa-icon class="me-1" [icon]="['fab', 'github']"></fa-icon>
                <span>Star on GitHub</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
