<div class="row">
    <div class="col-md-2">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-10">
        <h1 class="display-4">Welcome to JHipster Online</h1>
        <b>
            JHipster Online generates <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" data-translate="home.link.homepage">JHipster</a> applications, with no installation required!
        </b>
    </div>
</div>
<div [ngSwitch]="isAuthenticated()">
    <hr/>
    <div *ngSwitchCase="false">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <fa-icon icon="rocket"></fa-icon>
                            &nbsp;Application Generation
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Create Application</h4>
                            <p class="card-text">Create a new application with an easy-to-use web form and download as a zip file, or login to push it directly to GitHub & GitLab and add Continuous Integration:</p>
                            <a class="btn btn-info" routerLink="/generate-application">Create Application</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                        <b>Logged-in users can generate projects directly on Github & GitLab, add Continuous Integration and manage JDL configurations in their account.</b>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <fa-icon icon="sign-in-alt"></fa-icon>
                            &nbsp;Authentication
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Sign in</h4>
                            <p class="card-text">If you already have an account:</p>
                            <button type="button" class="btn btn-info" (click)="login()">Please sign in</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <fa-icon icon="user-plus"></fa-icon>
                            &nbsp;Registration
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Register</h4>
                            <p class="card-text">If you want to create a new account:</p>
                            <a class="btn btn-info" routerLink="account/register">Please register</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <h4>JHipster is an Open Source, widely popular application generator</h4>
                    <p>
                       If you want more information on JHipster:
                    </p>
                    <ul>
                        <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster homepage (with documentation, slides, tutorials, etc.)</a></li>
                        <li><a href="https://github.com/jhipster/generator-jhipster" target="_blank"
                               rel="noopener noreferrer">JHipster source code on GitHub</a></li>
                        <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">JHipster on Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <h4>Using JHipster Online to deploy to Azure Spring Apps</h4>
                    <p>
                        JHipster Azure Spring Apps is designed to streamline your full-stack Spring application development,
                        leveraging the robust infrastructure of Azure Spring Apps to bring your projects to life with unprecedented ease and efficiency.
                    </p>
                    <a class="btn btn-info" routerLink="/generate-azure-application">Create Azure Application</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <h4>JHipster Online is also Open Source!</h4>
                    <p>
                        The application on <a href="https://start.jhipster.tech/" target="_blank" rel="noopener noreferrer">https://start.jhipster.tech/</a> is the
                        official JHipster Online instance, which is managed by the JHipster team.
                    </p>
                    <p>
                        If you want to look at our source code, or if in your company wants to host (and modify!) its own version of JHipster Online, the
                        project is available on GitHub at <a href="https://github.com/jhipster/jhipster-online" target="_blank" rel="noopener noreferrer">https://github.com/jhipster/jhipster-online</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="true">
        <h3 *ngIf="gitConfig.gitlabAvailable || gitConfig.githubAvailable">
            Using JHipster Online with
            <ng-container *ngIf="gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitHub or GitLab</ng-container>
            <ng-container *ngIf="gitConfig.githubAvailable && !gitConfig.gitlabAvailable">GitHub</ng-container>
            <ng-container *ngIf="!gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitLab</ng-container>
            to get the full experience
        </h3>
        <ul *ngIf="gitConfig.gitlabAvailable || gitConfig.githubAvailable">
            <li>
                <a routerLink="/git">
                    Step 1: Configure JHipster Online to access your
                    <ng-container *ngIf="gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitHub or GitLab</ng-container>
                    <ng-container *ngIf="gitConfig.githubAvailable && !gitConfig.gitlabAvailable">GitHub</ng-container>
                    <ng-container *ngIf="!gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitLab</ng-container>
                    account
                </a>
            </li>
            <li>
                <a routerLink="/generate-application">
                    Step 2: Use JHipster Online to generate an application on
                    <ng-container *ngIf="gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitHub or GitLab</ng-container>
                    <ng-container *ngIf="gitConfig.githubAvailable && !gitConfig.gitlabAvailable">GitHub</ng-container>
                    <ng-container *ngIf="!gitConfig.githubAvailable && gitConfig.gitlabAvailable">GitLab</ng-container>
                </a>
            </li>
            <li><a routerLink="/design-entities">Step 3: Use the JHipster Studio to add entities to your application</a></li>
            <li><a routerLink="/ci-cd">Step 4: Set up continuous integration for your application</a></li>
        </ul>
        <h3>Using JHipster Online to simply download a zipped application</h3>
        <ul>
            <li><a routerLink="/generate-application">Step 1: Use JHipster Online to generate an application</a></li>
            <li><a routerLink="/design-entities">Step 2: Use the JHipster Studio to design entities</a></li>
        </ul>
        <h3>Next steps</h3>
        <b>
            Once your application is generated, the following links will be useful:
        </b>
        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" data-translate="home.link.homepage">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer" data-translate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer" data-translate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" data-translate="home.link.chat">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" data-translate="home.link.follow">follow @jhipster on Twitter</a></li>
        </ul>
        <b>
            If you like JHipster, don't forget to give us a star on <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
        </b>
    </div>
</div>
