.hipster {
  display: inline-block;
  width: 170px;
  height: 89px;
  background: url('../../../content/images/logo-jhipster.svg') no-repeat center top;
  background-size: contain;
}

.welcome-title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
}

.welcome-description {
  font-size: 1.125rem;
  line-height: 1.4;
}
