version: '2'
services:
  jhonline-mysql:
    image: mysql:8
    # volumes:
    #     - ~/volumes/jhipster/jhonline/mysql/:/var/lib/mysql/
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=jhipster-online
    ports:
      - 3306:3306
    command: mysqld --lower_case_table_names=1 --skip-ssl --character_set_server=utf8mb4 --explicit_defaults_for_timestamp
