<form name="resetForm">
    <div class="modal-header">
        <h4 class="modal-title">Password reset link</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>

    <div class="modal-body">
        <div class="alert alert-success" *ngIf="showClipboardSuccess">
            <p>The link has been successfully copied to clipboard.</p>
        </div>
        <div class="alert alert-danger" *ngIf="showClipboardError">
            <p>Could not copy link to clipboard.</p>
        </div>
        <jhi-alert-error></jhi-alert-error>
        <p>The user will be able to reset his password with this link.</p>
        <form>
            <label for="reset-link"></label>
            <input type="text" id="reset-link" [value]="resetLink" size="50" readonly #resetLinkInput />
            <button class="btn btn-primary" (click)="generateResetLink(user.email)">
                <fa-icon [icon]="'sync'" [spin]="isGeneratingLink"></fa-icon>
                &nbsp;Generate link
            </button>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Close</span>
        </button>
    </div>
</form>
