<div>
    <h2 id="page-heading">
        <span>Sub Gen Events</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sub-gen-event" [routerLink]="['/sub-gen-event/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Sub Gen Event
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="subGenEvents?.length === 0">
        <span>No subGenEvents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="subGenEvents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Year</span></th>
                    <th scope="col" ><span>Month</span></th>
                    <th scope="col" ><span>Week</span></th>
                    <th scope="col" ><span>Day</span></th>
                    <th scope="col" ><span>Hour</span></th>
                    <th scope="col" ><span>Source</span></th>
                    <th scope="col" ><span>Type</span></th>
                    <th scope="col" ><span>Event</span></th>
                    <th scope="col" ><span>Date</span></th>
                    <th scope="col" ><span>Owner</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subGenEvent of subGenEvents ;trackBy: trackId">
                    <td><a [routerLink]="['/sub-gen-event', subGenEvent.id, 'view']">{{ subGenEvent.id }}</a></td>
                    <td>{{ subGenEvent.year }}</td>
                    <td>{{ subGenEvent.month }}</td>
                    <td>{{ subGenEvent.week }}</td>
                    <td>{{ subGenEvent.day }}</td>
                    <td>{{ subGenEvent.hour }}</td>
                    <td>{{ subGenEvent.source }}</td>
                    <td>{{ subGenEvent.type }}</td>
                    <td>{{ subGenEvent.event }}</td>
                    <td>{{ subGenEvent.date | date:'medium' }}</td>
                    <td>
                        <div *ngIf="subGenEvent.owner">
                            <a [routerLink]="['/generator-identity', subGenEvent.owner?.id, 'view']" >{{ subGenEvent.owner?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sub-gen-event', subGenEvent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sub-gen-event', subGenEvent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(subGenEvent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
