<div>
    <h2 id="page-heading">
        <span>Sub Gen Events</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sub-gen-event" [routerLink]="['/sub-gen-event/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Sub Gen Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="subGenEvents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Year</span></th>
            <th><span>Month</span></th>
            <th><span>Week</span></th>
            <th><span>Day</span></th>
            <th><span>Hour</span></th>
            <th><span>Source</span></th>
            <th><span>Type</span></th>
            <th><span>Event</span></th>
            <th><span>Date</span></th>
            <th><span>Owner</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subGenEvent of subGenEvents ;trackBy: trackId">
                <td><a [routerLink]="['/sub-gen-event', subGenEvent.id, 'view' ]">{{subGenEvent.id}}</a></td>
                <td>{{subGenEvent.year}}</td>
                <td>{{subGenEvent.month}}</td>
                <td>{{subGenEvent.week}}</td>
                <td>{{subGenEvent.day}}</td>
                <td>{{subGenEvent.hour}}</td>
                <td>{{subGenEvent.source}}</td>
                <td>{{subGenEvent.type}}</td>
                <td>{{subGenEvent.event}}</td>
                <td>{{subGenEvent.date | date:'medium'}}</td>
                <td>
                    <div *ngIf="subGenEvent.owner">
                        <a [routerLink]="['../generator-identity', subGenEvent.owner?.id, 'view' ]" >{{subGenEvent.owner?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sub-gen-event', subGenEvent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sub-gen-event', subGenEvent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sub-gen-event/'+ subGenEvent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
