<div *ngIf="(gitConfig.githubAvailable && githubConfigured) || (gitConfig.gitlabAvailable && gitlabConfigured)">
  <!-- Git provider -->
  <div class="row g-3 mb-4">
    <div class="col-12">
      <div>
        <label class="form-label" for="selectedGitProvider">Select the Git provider:</label>
        <select
          id="selectedGitProvider"
          (ngModelChange)="refreshGitCompanyListByGitProvider($event)"
          [(ngModel)]="data.selectedGitProvider"
          name="data.selectedGitProvider"
          class="form-select"
          [disabled]="isRefreshing()"
        >
          <option *ngFor="let provider of data.availableGitProviders">{{ provider }}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Company -->
  <div class="row g-3 mb-4">
    <div [class]="simpleMode ? 'col-md-8 col-xl-10' : 'col-md-4 col-xl-5'">
      <div>
        <label class="form-label" for="gitCompany">Select the company:</label>
        <select
          id="gitCompany"
          [(ngModel)]="data.selectedGitCompany"
          name="gitCompany"
          class="form-select"
          #ctrl="ngModel"
          (ngModelChange)="updateGitProjectList($event)"
          [disabled]="data.gitProjectListRefresh"
        >
          <option *ngFor="let company of data.gitCompanies">{{ company.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4 col-xl-2 d-flex align-items-end" *ngIf="simpleMode">
      <button class="btn btn-secondary btn-form w-100" (click)="refreshGitCompanyListByGitProvider(data?.selectedGitProvider)">
        <fa-icon [icon]="'sync'" [spin]="data.gitCompanyListRefresh"></fa-icon>
        <span>
          Refresh
        </span>
      </button>
    </div>

    <ng-container *ngIf="!simpleMode">
      <div class="col-md-4 col-xl-5">
        <div>
          <label class="form-label" for="gitRepository">Git repository</label>
          <select
            id="gitRepository"
            (ngModelChange)="updateSelectedGitRepository($event)"
            [(ngModel)]="data.selectedGitRepository"
            name="gitRepository"
            class="form-select"
            #ctrl="ngModel"
            [disabled]="isRefreshing()"
          >
            <option *ngFor="let project of data.gitProjects">{{ project }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-xl-2 d-flex align-items-end">
        <button class="btn btn-secondary btn-form w-100" (click)="refreshGitProjectList()">
          <fa-icon [icon]="'sync'" [spin]="data.gitProjectListRefresh"></fa-icon>
          <span>
            Refresh
          </span>
        </button>
      </div>
    </ng-container>
  </div>
</div>
