<h2><span class="fa fa-wrench"></span>&nbsp;<span>GitHub configuration</span></h2>

<p>
    If you give access to your GitHub account to JHipster Online, it will:
</p>
<ul>
    <li>Create JHipster applications on your account, using <a routerLink="/generate-application">the online application
        generator</a>.
    </li>
    <li>Read basic user data (your username and organizations) that are necessary for generating the project</li>
</ul>
<p>
    <b>Please note</b> that this may change in the future, depending on new features we will release. This will
    be marked clearly on this page.
</p>

<div class="alert alert-info" role="alert">
    You can revoke this access at any time in your <a href="https://github.com/settings/applications">GitHub
    settings</a>.
</div>


<p class="text-center" *ngIf="!gitHubConfigured">
    <a class="btn btn-primary"
       href="https://github.com/login/oauth/authorize?scope=user,public_repo&client_id={{clientId}}" role="button">Authorize
        JHipster Online to access your GitHub account</a>
</p>

<p class="text-center" *ngIf="gitHubConfigured">
    <a class="btn btn-warning"
       href="https://github.com/login/oauth/authorize?scope=user,public_repo&client_id={{clientId}}" role="button">JHipster
        is already authorized, click here to re-synchronize your account</a>
</p>
