<div>
    <h2 id="page-heading">
        <span>Yo RCS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-yo-rc" [routerLink]="['/yo-rc/new']">
            <span class="fas fa-plus"></span>
            <span >
            Create new Yo RC
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="yoRCS">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="jhipsterVersion"><span>Jhipster Version</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="serverPort"><span>Server Port</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="authenticationType"><span>Authentication Type</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="cacheProvider"><span>Cache Provider</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="enableHibernateCache"><span>Enable Hibernate Cache</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="websocket"><span>Websocket</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="databaseType"><span>Database Type</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="devDatabaseType"><span>Dev Database Type</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="prodDatabaseType"><span>Prod Database Type</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="searchEngine"><span>Search Engine</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="messageBroker"><span>Message Broker</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="serviceDiscoveryType"><span>Service Discovery Type</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="buildTool"><span>Build Tool</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="enableSwaggerCodegen"><span>Enable Swagger Codegen</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="clientFramework"><span>Client Framework</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="useSass"><span>Use Sass</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="clientPackageManager"><span>Client Package Manager</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="applicationType"><span>Application Type</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="testFrameworks"><span>Test Frameworks</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="jhiPrefix"><span>Jhi Prefix</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="enableTranslation"><span>Enable Translation</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="nativeLanguage"><span>Native Language</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="gitProvider"><span>Git Provider</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="owner.id"><span>Owner</span> <span class="fas fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let yoRC of yoRCS ;trackBy: trackId">
                <td><a [routerLink]="['/yo-rc', yoRC.id, 'view' ]">{{yoRC.id}}</a></td>
                <td>{{yoRC.jhipsterVersion}}</td>
                <td>{{yoRC.serverPort}}</td>
                <td>{{yoRC.authenticationType}}</td>
                <td>{{yoRC.cacheProvider}}</td>
                <td>{{yoRC.enableHibernateCache}}</td>
                <td>{{yoRC.websocket}}</td>
                <td>{{yoRC.databaseType}}</td>
                <td>{{yoRC.devDatabaseType}}</td>
                <td>{{yoRC.prodDatabaseType}}</td>
                <td>{{yoRC.searchEngine}}</td>
                <td>{{yoRC.messageBroker}}</td>
                <td>{{yoRC.serviceDiscoveryType}}</td>
                <td>{{yoRC.buildTool}}</td>
                <td>{{yoRC.enableSwaggerCodegen}}</td>
                <td>{{yoRC.clientFramework}}</td>
                <td>{{yoRC.useSass}}</td>
                <td>{{yoRC.clientPackageManager}}</td>
                <td>{{yoRC.applicationType}}</td>
                <td>{{yoRC.testFrameworks}}</td>
                <td>{{yoRC.jhiPrefix}}</td>
                <td>{{yoRC.enableTranslation}}</td>
                <td>{{yoRC.nativeLanguage}}</td>
                <td>{{yoRC.gitProvider}}</td>
                <td>
                    {{yoRC.owner?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/yo-rc', yoRC.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fas fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/yo-rc', yoRC.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fas fa-pencil-alt"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'yo-rc/'+ yoRC.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-times"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="yoRCS && yoRCS.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
