<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-yo-rc-heading">Create or edit a Yo RC</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!yoRC.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="yoRC.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jhipsterVersion">Jhipster Version</label>
                    <input type="text" class="form-control" name="jhipsterVersion" id="field_jhipsterVersion"
                        [(ngModel)]="yoRC.jhipsterVersion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_serverPort">Server Port</label>
                    <input type="text" class="form-control" name="serverPort" id="field_serverPort"
                        [(ngModel)]="yoRC.serverPort" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_authenticationType">Authentication Type</label>
                    <input type="text" class="form-control" name="authenticationType" id="field_authenticationType"
                        [(ngModel)]="yoRC.authenticationType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cacheProvider">Cache Provider</label>
                    <input type="text" class="form-control" name="cacheProvider" id="field_cacheProvider"
                        [(ngModel)]="yoRC.cacheProvider" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_enableHibernateCache">Enable Hibernate Cache</label>
                    <input type="checkbox" class="form-control" name="enableHibernateCache" id="field_enableHibernateCache"
                        [(ngModel)]="yoRC.enableHibernateCache" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_websocket">Websocket</label>
                    <input type="checkbox" class="form-control" name="websocket" id="field_websocket"
                        [(ngModel)]="yoRC.websocket" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_databaseType">Database Type</label>
                    <input type="text" class="form-control" name="databaseType" id="field_databaseType"
                        [(ngModel)]="yoRC.databaseType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_devDatabaseType">Dev Database Type</label>
                    <input type="text" class="form-control" name="devDatabaseType" id="field_devDatabaseType"
                        [(ngModel)]="yoRC.devDatabaseType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prodDatabaseType">Prod Database Type</label>
                    <input type="text" class="form-control" name="prodDatabaseType" id="field_prodDatabaseType"
                        [(ngModel)]="yoRC.prodDatabaseType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_searchEngine">Search Engine</label>
                    <input type="checkbox" class="form-control" name="searchEngine" id="field_searchEngine"
                        [(ngModel)]="yoRC.searchEngine" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_messageBroker">Message Broker</label>
                    <input type="checkbox" class="form-control" name="messageBroker" id="field_messageBroker"
                        [(ngModel)]="yoRC.messageBroker" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_serviceDiscoveryType">Service Discovery Type</label>
                    <input type="checkbox" class="form-control" name="serviceDiscoveryType" id="field_serviceDiscoveryType"
                        [(ngModel)]="yoRC.serviceDiscoveryType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_buildTool">Build Tool</label>
                    <input type="text" class="form-control" name="buildTool" id="field_buildTool"
                        [(ngModel)]="yoRC.buildTool" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_enableSwaggerCodegen">Enable Swagger Codegen</label>
                    <input type="checkbox" class="form-control" name="enableSwaggerCodegen" id="field_enableSwaggerCodegen"
                        [(ngModel)]="yoRC.enableSwaggerCodegen" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_clientFramework">Client Framework</label>
                    <input type="text" class="form-control" name="clientFramework" id="field_clientFramework"
                        [(ngModel)]="yoRC.clientFramework" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_useSass">Use Sass</label>
                    <input type="checkbox" class="form-control" name="useSass" id="field_useSass"
                        [(ngModel)]="yoRC.useSass" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_clientPackageManager">Client Package Manager</label>
                    <input type="text" class="form-control" name="clientPackageManager" id="field_clientPackageManager"
                        [(ngModel)]="yoRC.clientPackageManager" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_applicationType">Application Type</label>
                    <input type="text" class="form-control" name="applicationType" id="field_applicationType"
                        [(ngModel)]="yoRC.applicationType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jhiPrefix">Jhi Prefix</label>
                    <input type="text" class="form-control" name="jhiPrefix" id="field_jhiPrefix"
                        [(ngModel)]="yoRC.jhiPrefix" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_enableTranslation">Enable Translation</label>
                    <input type="checkbox" class="form-control" name="enableTranslation" id="field_enableTranslation"
                        [(ngModel)]="yoRC.enableTranslation" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nativeLanguage">Native Language</label>
                    <input type="text" class="form-control" name="nativeLanguage" id="field_nativeLanguage"
                        [(ngModel)]="yoRC.nativeLanguage" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gitProvider">Git Provider</label>
                    <input type="text" class="form-control" name="gitProvider" id="field_gitProvider"
                        [(ngModel)]="yoRC.gitProvider" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hasProtractor">Has Protractor</label>
                    <input type="checkbox" class="form-control" name="hasProtractor" id="field_hasProtractor"
                        [(ngModel)]="yoRC.hasProtractor" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hasGatling">Has Gatling</label>
                    <input type="checkbox" class="form-control" name="hasGatling" id="field_hasGatling"
                        [(ngModel)]="yoRC.hasGatling" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hasCucumber">Has Cucumber</label>
                    <input type="checkbox" class="form-control" name="hasCucumber" id="field_hasCucumber"
                        [(ngModel)]="yoRC.hasCucumber" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" [(ngModel)]="yoRC.owner" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ownerIdentityOption.id === yoRC.owner?.id ? yoRC.owner : ownerIdentityOption" *ngFor="let ownerIdentityOption of owneridentities; trackBy: trackOwnerIdentityById">{{ownerIdentityOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fas fa-ban"></span>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fas fa-save"></span>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
