<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="yoRC">
            <h2><span>Yo RC</span> {{yoRC.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Jhipster Version</span></dt>
                <dd>
                    <span>{{yoRC.jhipsterVersion}}</span>
                </dd>
                <dt><span>Server Port</span></dt>
                <dd>
                    <span>{{yoRC.serverPort}}</span>
                </dd>
                <dt><span>Authentication Type</span></dt>
                <dd>
                    <span>{{yoRC.authenticationType}}</span>
                </dd>
                <dt><span>Cache Provider</span></dt>
                <dd>
                    <span>{{yoRC.cacheProvider}}</span>
                </dd>
                <dt><span>Enable Hibernate Cache</span></dt>
                <dd>
                    <span>{{yoRC.enableHibernateCache}}</span>
                </dd>
                <dt><span>Websocket</span></dt>
                <dd>
                    <span>{{yoRC.websocket}}</span>
                </dd>
                <dt><span>Database Type</span></dt>
                <dd>
                    <span>{{yoRC.databaseType}}</span>
                </dd>
                <dt><span>Dev Database Type</span></dt>
                <dd>
                    <span>{{yoRC.devDatabaseType}}</span>
                </dd>
                <dt><span>Prod Database Type</span></dt>
                <dd>
                    <span>{{yoRC.prodDatabaseType}}</span>
                </dd>
                <dt><span>Search Engine</span></dt>
                <dd>
                    <span>{{yoRC.searchEngine}}</span>
                </dd>
                <dt><span>Message Broker</span></dt>
                <dd>
                    <span>{{yoRC.messageBroker}}</span>
                </dd>
                <dt><span>Service Discovery Type</span></dt>
                <dd>
                    <span>{{yoRC.serviceDiscoveryType}}</span>
                </dd>
                <dt><span>Build Tool</span></dt>
                <dd>
                    <span>{{yoRC.buildTool}}</span>
                </dd>
                <dt><span>Enable Swagger Codegen</span></dt>
                <dd>
                    <span>{{yoRC.enableSwaggerCodegen}}</span>
                </dd>
                <dt><span>Client Framework</span></dt>
                <dd>
                    <span>{{yoRC.clientFramework}}</span>
                </dd>
                <dt><span>Use Sass</span></dt>
                <dd>
                    <span>{{yoRC.useSass}}</span>
                </dd>
                <dt><span>Client Package Manager</span></dt>
                <dd>
                    <span>{{yoRC.clientPackageManager}}</span>
                </dd>
                <dt><span>Application Type</span></dt>
                <dd>
                    <span>{{yoRC.applicationType}}</span>
                </dd>
                <dt><span>Jhi Prefix</span></dt>
                <dd>
                    <span>{{yoRC.jhiPrefix}}</span>
                </dd>
                <dt><span>Enable Translation</span></dt>
                <dd>
                    <span>{{yoRC.enableTranslation}}</span>
                </dd>
                <dt><span>Native Language</span></dt>
                <dd>
                    <span>{{yoRC.nativeLanguage}}</span>
                </dd>
                <dt><span>Git Provider</span></dt>
                <dd>
                    <span>{{yoRC.gitProvider}}</span>
                </dd>
                <dt><span>Has Protractor</span></dt>
                <dd>
                    <span>{{yoRC.hasProtractor}}</span>
                </dd>
                <dt><span>Has Gatling</span></dt>
                <dd>
                    <span>{{yoRC.hasGatling}}</span>
                </dd>
                <dt><span>Has Cucumber</span></dt>
                <dd>
                    <span>{{yoRC.hasCucumber}}</span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    <div *ngIf="yoRC.owner">
                        <a [routerLink]="['/owner-identity', yoRC.owner?.id, 'view']">{{yoRC.owner?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/yo-rc', yoRC.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
