<div>
    <h2 id="page-heading">
        <span>Yo RCS</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-yo-rc" [routerLink]="['/yo-rc/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Yo RC
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="yoRCS?.length === 0">
        <span>No yoRCS found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="yoRCS?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Jhipster Version</span></th>
                    <th scope="col" ><span>Creation Date</span></th>
                    <th scope="col" ><span>Git Provider</span></th>
                    <th scope="col" ><span>Node Version</span></th>
                    <th scope="col" ><span>Os</span></th>
                    <th scope="col" ><span>Arch</span></th>
                    <th scope="col" ><span>Cpu</span></th>
                    <th scope="col" ><span>Cores</span></th>
                    <th scope="col" ><span>Memory</span></th>
                    <th scope="col" ><span>User Language</span></th>
                    <th scope="col" ><span>Year</span></th>
                    <th scope="col" ><span>Month</span></th>
                    <th scope="col" ><span>Week</span></th>
                    <th scope="col" ><span>Day</span></th>
                    <th scope="col" ><span>Hour</span></th>
                    <th scope="col" ><span>Server Port</span></th>
                    <th scope="col" ><span>Authentication Type</span></th>
                    <th scope="col" ><span>Cache Provider</span></th>
                    <th scope="col" ><span>Enable Hibernate Cache</span></th>
                    <th scope="col" ><span>Websocket</span></th>
                    <th scope="col" ><span>Database Type</span></th>
                    <th scope="col" ><span>Dev Database Type</span></th>
                    <th scope="col" ><span>Prod Database Type</span></th>
                    <th scope="col" ><span>Search Engine</span></th>
                    <th scope="col" ><span>Message Broker</span></th>
                    <th scope="col" ><span>Service Discovery Type</span></th>
                    <th scope="col" ><span>Build Tool</span></th>
                    <th scope="col" ><span>Enable Swagger Codegen</span></th>
                    <th scope="col" ><span>Client Framework</span></th>
                    <th scope="col" ><span>Use Sass</span></th>
                    <th scope="col" ><span>Client Package Manager</span></th>
                    <th scope="col" ><span>Application Type</span></th>
                    <th scope="col" ><span>Jhi Prefix</span></th>
                    <th scope="col" ><span>Enable Translation</span></th>
                    <th scope="col" ><span>Native Language</span></th>
                    <th scope="col" ><span>Has Protractor</span></th>
                    <th scope="col" ><span>Has Gatling</span></th>
                    <th scope="col" ><span>Has Cucumber</span></th>
                    <th scope="col" ><span>Owner</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let yoRC of yoRCS ;trackBy: trackId">
                    <td><a [routerLink]="['/yo-rc', yoRC.id, 'view']">{{ yoRC.id }}</a></td>
                    <td>{{ yoRC.jhipsterVersion }}</td>
                    <td>{{ yoRC.creationDate | date:'medium' }}</td>
                    <td>{{ yoRC.gitProvider }}</td>
                    <td>{{ yoRC.nodeVersion }}</td>
                    <td>{{ yoRC.os }}</td>
                    <td>{{ yoRC.arch }}</td>
                    <td>{{ yoRC.cpu }}</td>
                    <td>{{ yoRC.cores }}</td>
                    <td>{{ yoRC.memory }}</td>
                    <td>{{ yoRC.userLanguage }}</td>
                    <td>{{ yoRC.year }}</td>
                    <td>{{ yoRC.month }}</td>
                    <td>{{ yoRC.week }}</td>
                    <td>{{ yoRC.day }}</td>
                    <td>{{ yoRC.hour }}</td>
                    <td>{{ yoRC.serverPort }}</td>
                    <td>{{ yoRC.authenticationType }}</td>
                    <td>{{ yoRC.cacheProvider }}</td>
                    <td>{{ yoRC.enableHibernateCache }}</td>
                    <td>{{ yoRC.websocket }}</td>
                    <td>{{ yoRC.databaseType }}</td>
                    <td>{{ yoRC.devDatabaseType }}</td>
                    <td>{{ yoRC.prodDatabaseType }}</td>
                    <td>{{ yoRC.searchEngine }}</td>
                    <td>{{ yoRC.messageBroker }}</td>
                    <td>{{ yoRC.serviceDiscoveryType }}</td>
                    <td>{{ yoRC.buildTool }}</td>
                    <td>{{ yoRC.enableSwaggerCodegen }}</td>
                    <td>{{ yoRC.clientFramework }}</td>
                    <td>{{ yoRC.useSass }}</td>
                    <td>{{ yoRC.clientPackageManager }}</td>
                    <td>{{ yoRC.applicationType }}</td>
                    <td>{{ yoRC.jhiPrefix }}</td>
                    <td>{{ yoRC.enableTranslation }}</td>
                    <td>{{ yoRC.nativeLanguage }}</td>
                    <td>{{ yoRC.hasProtractor }}</td>
                    <td>{{ yoRC.hasGatling }}</td>
                    <td>{{ yoRC.hasCucumber }}</td>
                    <td>
                        <div *ngIf="yoRC.owner">
                            <a [routerLink]="['/generator-identity', yoRC.owner?.id, 'view']" >{{ yoRC.owner?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/yo-rc', yoRC.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/yo-rc', yoRC.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(yoRC)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
