<div>
    <h2 id="page-heading">
        <span>Your Generators</span>
        <button class="btn btn-primary float-right" (click)="refresh()">
            <fa-icon [icon]="'sync'"></fa-icon> <span>Refresh</span>
        </button>
    </h2>
    <p>In this page is displayed every generator you own.</p>
    <ngb-alert [dismissible]="false" type="info" >
        <div class="row">
            <div class="col-xs-1">
                &nbsp;
                <fa-icon [icon]="'lightbulb'"></fa-icon>
            </div>
            <div class="col-11">
                <span>You can add a generator by using the command: <b>jhipster login</b>.</span><br />
                <span>You can obtain your generator ID by using the command: <b>jhipster login --guid</b>.</span>
            </div>
        </div>
    </ngb-alert>
    <button class="btn btn-danger" (click)="openDataDeletionModal()">
        <fa-icon [icon]="'skull'"></fa-icon>
        <span class="">Delete all my statistics</span>
    </button>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="generatorIdentities">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>Generator ID</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let generatorIdentity of generatorIdentities; trackBy: trackId">
                <td>{{generatorIdentity.guid}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button class="btn btn-danger btn-sm" (click)="openUnbindModal(generatorIdentity.guid)">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Remove</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
