<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="language">
            <h2><span>Language</span> {{ language.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Iso Code</span></dt>
                <dd>
                    <span>{{ language.isoCode }}</span>
                </dd>
                <dt><span>Yo RC</span></dt>
                <dd>
                    <div *ngIf="language.yoRC">
                        <a [routerLink]="['/yo-rc', language.yoRC?.id, 'view']">{{ language.yoRC?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/language', language.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
