<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-language-heading">Create or edit a Language</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!language.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="language.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isoCode">Iso Code</label>
                    <input type="text" class="form-control" name="isoCode" id="field_isoCode"
                        [(ngModel)]="language.isoCode" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_yoRC">Yo RC</label>
                    <select class="form-control" id="field_yoRC" name="yoRC" [(ngModel)]="language.yoRC" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="yoRCOption.id === language.yoRC?.id ? language.yoRC : yoRCOption" *ngFor="let yoRCOption of yorcs; trackBy: trackYoRCById">{{yoRCOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
