<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="generatorIdentity">
            <h2><span>Generator Identity</span> {{ generatorIdentity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Host</span></dt>
                <dd>
                    <span>{{ generatorIdentity.host }}</span>
                </dd>
                <dt><span>Guid</span></dt>
                <dd>
                    <span>{{ generatorIdentity.guid }}</span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    {{ generatorIdentity.owner?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/generator-identity', generatorIdentity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
