<div>
    <h2>
        <span class="fa fa-check"></span>&nbsp;<span>Apply JDL Model to a project</span>
    </h2>
    <jhi-alert></jhi-alert>
    <hr/>
    <ngb-alert [dismissible]="false" type="danger" *ngIf="!gitConfig.isGithubAvailable && !gitConfig.isGitlabAvailable">
        <span>There is no git providers available. Contact your administrator to configure a git provider.</span>
    </ngb-alert>
    <ngb-alert [dismissible]="false" type="danger" *ngIf="gitConfig.isGithubAvailable && !gitConfig.isGitlabAvailable && !isGithubConfigured">
        <p>
            <fa-icon [icon]="'exclamation-triangle'"></fa-icon>
            <span><strong>Warning!</strong> To apply a JDL Model on a GitHub project, you must authorize JHipster Online to access your GitHub account.</span>
        </p>
        <p class="text-center">
            <a routerLink="/git" class="btn btn-primary" role="button">Configure your GitHub account</a>
        </p>
    </ngb-alert>
    <ngb-alert [dismissible]="false" type="danger" *ngIf="!gitConfig.isGithubAvailable && gitConfig.isGitlabAvailable && !isGitlabConfigured">
        <p>
            <fa-icon [icon]="'exclamation-triangle'"></fa-icon>
            <span><strong>Warning!</strong> To apply a JDL Model on a GitLab project, you must authorize JHipster Online to access your GitLab account.</span>
        </p>
        <p class="text-center">
            <a routerLink="/git" class="btn btn-primary" role="button">Configure your GitLab account</a>
        </p>
    </ngb-alert>
    <ngb-alert [dismissible]="false" type="danger" *ngIf="gitConfig.isGithubAvailable && gitConfig.isGitlabAvailable && !isGithubConfigured && !isGitlabConfigured">
        <p>
            <fa-icon [icon]="'exclamation-triangle'"></fa-icon>
            <span><strong>Warning!</strong> To apply a JDL Model on a GitHub or GitLab project, you must authorize JHipster Online to access your GitHub or GitLab account.</span>
        </p>
        <p class="text-center">
            <a routerLink="/git" class="btn btn-primary" role="button">Configure your GitHub or GitLab account</a>
        </p>
    </ngb-alert>
    <jhi-git-provider-alert [tab]="'design-entities-apply'"></jhi-git-provider-alert>
    <jhi-git-provider (sharedData)="updateSharedData($event)"></jhi-git-provider>

    <p class="text-center" *ngIf="(gitConfig.isGithubAvailable && isGithubConfigured) || (gitConfig.isGitlabAvailable && isGitlabConfigured)">
        <button class="btn btn-primary" (click)="applyJdl()">
            <span>
                Yes, apply this JDL model
            </span>
        </button>&nbsp;
        <button class="btn btn-dark" [routerLink]="['/design-entities']">
            <span>
                No, cancel this action
            </span>
        </button>
    </p>
</div>
