<div>
    <h2>
        <span class="fa fa-check"></span>&nbsp;<span>Apply JDL Model to a project</span>
    </h2>
    <jhi-alert></jhi-alert>
    <hr/>
    <ngb-alert [dismissible]="false" type="danger" *ngIf="!isGithubConfigured && !isGitlabConfigured">
        <p>
            <i class="fas fa-exclamation-triangle"></i>&nbsp;
            <span><strong>Warning!</strong> To apply a JDL Model on a GitHub project, you must authorize JHipster Online to access your GitHub account.</span>
        </p>
        <p class="text-center">
            <a routerLink="/git" class="btn btn-primary" role="button">Configure your GitHub/GitLab account</a>
        </p>
    </ngb-alert>
    <p *ngIf="isGithubConfigured || isGitlabConfigured">
        <span class="fas fa-info-circle"></span>&nbsp;<i>The <a href="https://github.com/jhipster-bot" target="_blank">JHipster Bot</a> will access your project's
        GitHub/GitLab repository and create a new branch with Continuous Integration configuration. You can then decide if you want to merge this branch into your
        master branch.</i>
    </p>
    <jhi-git-provider (sharedData)="updateSharedData($event)"></jhi-git-provider>
    <p class="text-center" *ngIf="isGithubConfigured || isGitlabConfigured">
        <button class="btn btn-primary" (click)="applyJdl()">
            <span>
                Yes, apply this JDL model
            </span>
        </button>&nbsp;
        <button class="btn btn-dark" [routerLink]="['/design-entities']">
            <span>
                No, cancel this action
            </span>
        </button>
    </p>
</div>
