<form #generatorForm="ngForm">

    <h2><fa-icon [icon]="'rocket'"></fa-icon>&nbsp;<span>Application generation</span></h2>

    <div class="container">
        <h4>Project configuration</h4>
        <hr />
        <jhi-git-provider-alert [tab]="'generate-application'"></jhi-git-provider-alert>
        <jhi-git-provider (sharedData)="updateSharedData($event)" [simpleMode]="true"></jhi-git-provider>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="baseName">Application name</label>
                    <input type="text" class="form-control" id="baseName" [(ngModel)]="model.baseName" name="baseName"
                           #baseName="ngModel" required pattern="^([a-zA-Z0-9]*)$">
                    <div *ngIf="baseName.errors" class="alert alert-danger">Your application name cannot contain special characters or a blank space.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="repositoryName">Repository name</label>
                    <input type="text" class="form-control" id="repositoryName" [(ngModel)]="repositoryName" name="repositoryName"
                           required pattern="^([a-zA-Z0-9\-_]*)$">
                </div>
            </div>
        </div>
        <hr />
        <h4>Application type</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="applicationType">Which type of application would you like to create?</label>
                    <select id="applicationType" [(ngModel)]="model.applicationType" name="applicationType"
                            class="form-control" #applicationType="ngModel"
                            (change)="changeApplicationType()">
                        <option value="monolith">Monolithic application (recommended for simple projects)</option>
                        <option value="microservice">Microservice application</option>
                        <option value="gateway">Microservice gateway</option>
                        <option value="uaa">JHipster UAA server (for microservice OAuth2 authentication)</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <h4>Server side options</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="packageName">What is your default Java package name?</label>
                    <input type="text" class="form-control" id="packageName" [(ngModel)]="model.packageName"
                           name="packageName" #packageName="ngModel"
                           required pattern="^([a-z_]{1}[a-z0-9_]*(\.[a-z_]{1}[a-z0-9_]*)*)$"
                           (change)="changePackageName()">
                    <div *ngIf="packageName.errors" class="alert alert-danger">The package name you have provided is not a valid Java package name.</div>
                </div>
                <div class="form-group">
                    <label for="serverPort">On which port would like your server to run? It should be unique to avoid
                        port
                        conflicts.</label>
                    <input type="number" class="form-control" id="serverPort" [(ngModel)]="model.serverPort"
                           name="serverPort" #serverPort="ngModel"
                           required>
                </div>
                <div class="form-group">
                    <label for="serviceDiscoveryType">Do you want to use the JHipster Registry to configure, monitor and
                        scale your application?</label>
                    <select id="serviceDiscoveryType" [(ngModel)]="model.serviceDiscoveryType"
                            name="serviceDiscoveryType"
                            class="form-control"
                            #serviceDiscoveryType="ngModel" (change)="changeServiceDiscoveryType()">
                        <option value="false">No</option>
                        <option value="eureka">Yes</option>
                        <option value="consul" [hidden]="model.applicationType === 'monolith'">No, use Consul as an alternative solution (uses Spring Cloud
                            Consul)
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="authenticationType">Which <i>type</i> of authentication would you like to use?</label>
                    <select id="authenticationType" [(ngModel)]="model.authenticationType" name="authenticationType"
                            class="form-control" #authenticationType="ngModel" (change)="changeAuthenticationType()">
                        <option value="jwt">JWT authentication (stateless, with a token)</option>
                        <option value="oauth2">OAuth 2.0 / OIDC Authentication (stateful, works with Keycloak and Okta)</option>
                        <option value="session" [hidden]="model.serviceDiscoveryType === 'eureka' || model.applicationType !== 'monolith'">HTTP Session
                            Authentication (stateful, default Spring Security mechanism)
                        </option>
                        <option value="uaa" [hidden]="model.applicationType !== 'gateway' && model.applicationType !== 'microservice'">Authentication
                            with
                            JHipster UAA server (the server must be generated separately)
                        </option>
                    </select>
                </div>
                <div class="form-group" [hidden]="model.applicationType !== 'uaa'">
                    <label for="uaaBaseName">What is the folder path of your UAA application?</label>
                    <input type="text" class="form-control" id="uaaBaseName" [(ngModel)]="model.uaaBaseName"
                           name="uaaBaseName" #uaaBaseName="ngModel"
                           required>
                </div>
                <div class="form-group">
                    <label for="databaseType">Which <i>type</i> of database would you like to use?</label>
                    <select id="databaseType" [(ngModel)]="model.databaseType" name="databaseType" class="form-control"
                            #databaseType="ngModel" (change)="changeDatabaseType()">
                        <option value="sql">SQL (H2, MySQL, MariaDB, PostgreSQL, Oracle, MSSQL)</option>
                        <option value="mongodb">MongoDB</option>
                        <option value="cassandra" [hidden]="model.authenticationType === 'oauth2'">Cassandra</option>
                        <option value="couchbase">Couchbase</option>
                        <option value="no"
                                [hidden]="!((model.authenticationType !== 'oauth2' && model.applicationType === 'microservice')
                    || (model.authenticationType === 'uaa' && model.applicationType === 'gateway'))">No database</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="prodDatabaseType">Which <i>production</i> database would you like to use?</label>
                    <select id="prodDatabaseType" [(ngModel)]="model.prodDatabaseType" name="prodDatabaseType"
                            class="form-control" #prodDatabaseType="ngModel" (change)="changeProdDatabaseType()">
                        <option value="mysql" [hidden]="model.databaseType !== 'sql'">MySQL</option>
                        <option value="mariadb" [hidden]="model.databaseType !== 'sql'">MariaDB</option>
                        <option value="postgresql" [hidden]="model.databaseType !== 'sql'">PostgreSQL</option>
                        <option value="oracle" [hidden]="model.databaseType !== 'sql'">Oracle (Please follow our documentation to use the Oracle proprietary
                            driver)
                        </option>
                        <option value="mssql" [hidden]="model.databaseType !== 'sql'">Microsoft SQL Server</option>
                        <option value="mongodb" [hidden]="model.databaseType !== 'mongodb'">MongoDB</option>
                        <option value="cassandra" [hidden]="model.databaseType !== 'cassandra'">Cassandra</option>
                        <option value="couchbase" [hidden]="model.databaseType !== 'couchbase'">Couchbase</option>
                        <option value="no" [hidden]="model.databaseType !== 'no'">No database</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="devDatabaseType">Which <i>development</i> database would you like to use?</label>
                    <select id="devDatabaseType" [(ngModel)]="model.devDatabaseType" name="devDatabaseType"
                            class="form-control" #devDatabaseType="ngModel">
                        <option value="h2Disk" [hidden]="model.databaseType !== 'sql'">H2 with disk-based persistence</option>
                        <option value="h2Memory" [hidden]="model.databaseType !== 'sql'">H2 with in-memory persistence</option>
                        <option value="mysql" [hidden]="model.databaseType !== 'sql' || model.prodDatabaseType !== 'mysql'">MySQL</option>
                        <option value="mariadb" [hidden]="model.databaseType !== 'sql' || model.prodDatabaseType !== 'mariadb'">MariaDB</option>
                        <option value="postgresql" [hidden]="model.databaseType !== 'sql' || model.prodDatabaseType !== 'postgresql'">PostgreSQL</option>
                        <option value="oracle" [hidden]="model.databaseType !== 'sql' || model.prodDatabaseType !== 'oracle'">Oracle (Please follow our documentation to use the Oracle proprietary
                            driver)
                        </option>
                        <option value="mssql" [hidden]="model.databaseType !== 'sql' || model.prodDatabaseType !== 'mssql'">Microsoft SQL Server</option>
                        <option value="mongodb" [hidden]="model.databaseType !== 'mongodb'">MongoDB</option>
                        <option value="cassandra" [hidden]="model.databaseType !== 'cassandra'">Cassandra</option>
                        <option value="couchbase" [hidden]="model.databaseType !== 'couchbase'">Couchbase</option>
                        <option value="no" [hidden]="model.databaseType !== 'no'">No database</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cacheProvider">Do you want to use the Spring cache abstraction?</label>
                    <select id="cacheProvider" [(ngModel)]="model.cacheProvider" name="cacheProvider"
                            class="form-control" #cacheProvider="ngModel">
                        <option value="ehcache">Yes, with ehcache (local cache, for a single node)</option>
                        <option value="hazelcast">Yes, with HazelCast (distributed cache, for multiple nodes)</option>
                        <option value="infinispan">Yes, with Infinispan (hybrid cache, for multiple nodes)</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div class="form-group" [hidden]="model.databaseType !== 'sql' || model.cacheProvider === 'no'">
                    <label for="enableHibernateCache">Do you want to use Hibernate 2nd level cache?</label>
                    <select id="enableHibernateCache" [(ngModel)]="model.enableHibernateCache" name="enableHibernateCache"
                            class="form-control" #enableHibernateCache="ngModel">

                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="buildTool">Would you like to use Maven or Gradle for building the backend?</label>
                    <select id="buildTool" [(ngModel)]="model.buildTool" name="buildTool" class="form-control"
                            #buildTool="ngModel">
                        <option value="maven">Maven</option>
                        <option value="gradle">Gradle</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Which other technologies would you like to use?</label>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <input type="checkbox" class="form-control" id="enableSwaggerCodegen"
                                       [(ngModel)]="model.enableSwaggerCodegen" name="enableSwaggerCodegen"
                                       #enableSwaggerCodegen="ngModel">
                            </div>
                            <div class="col-md-5">
                                <label for="enableSwaggerCodegen">API first development using OpenAPI-generator</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" class="form-control" id="searchEngine"
                                       [(ngModel)]="model.searchEngine" name="searchEngine"
                                       #searchEngine="ngModel"
                                       [hidden]="model.databaseType === 'cassandra' || model.databaseType === 'couchbase'">
                            </div>
                            <div class="col-md-5">
                                <label for="searchEngine"
                                       [hidden]="model.databaseType === 'cassandra' || model.databaseType === 'couchbase'">Search engine using Elasticsearch</label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <input type="checkbox" class="form-control" id="websocket" [(ngModel)]="model.websocket"
                                       name="websocket"
                                       #websocket="ngModel">
                            </div>
                            <div class="col-md-5">
                                <label for="websocket">WebSockets using Spring Websocket</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" class="form-control" id="messageBroker"
                                       [(ngModel)]="model.messageBroker" name="messageBroker"
                                       #messageBroker="ngModel">
                            </div>
                            <div class="col-md-5">
                                <label for="messageBroker">Asynchronous messages using Apache Kafka</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <h4 [hidden]="model.applicationType === 'microservice'">Client side options</h4>
        <hr [hidden]="model.applicationType === 'microservice'">
        <div class="row" [hidden]="model.applicationType === 'microservice'">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="clientFramework">Which <i>Framework</i> would you like to use for the client?</label>
                    <select id="clientFramework" [(ngModel)]="model.clientFramework" name="clientFramework"
                            class="form-control" #clientFramework="ngModel">
                        <option value="angularX">Angular</option>
                        <option value="react">React</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="useSass">Would you like to use the LibSass stylesheet preprocessor for your CSS?</label>
                    <select id="useSass" [(ngModel)]="model.useSass" name="useSass" class="form-control"
                            #useSass="ngModel">
                         <option [ngValue]="false">No</option>
                        <option [ngValue]="true">Yes</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <h4>Internationalization options</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="enableTranslation">Would you like to enable internationalization support?</label>
                    <select id="enableTranslation" [(ngModel)]="model.enableTranslation" name="enableTranslation"
                            class="form-control" #enableTranslation="ngModel">
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </div>
                <div class="form-group" [hidden]="model.enableTranslation === false">
                    <label for="nativeLanguage">Please choose the native language of the application</label>
                    <select id="nativeLanguage" [(ngModel)]="model.nativeLanguage" name="nativeLanguage"
                            class="form-control" #nativeLanguage="ngModel">
                        <option *ngFor="let option of languageOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                </div>
                <div class="form-group" [hidden]="model.enableTranslation === false">
                    <label for="languages">Please choose additional languages to install</label>
                    <select id="languages" [(ngModel)]="model.languages" name="languages" class="form-control"
                            #languages="ngModel" multiple>
                        <option *ngFor="let option of languageOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <h4>Testing options</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="testFrameworks">Besides JUnit and Jest, which testing frameworks would you like to
                        use?</label>
                    <select id="testFrameworks" [(ngModel)]="model.testFrameworks" name="testFrameworks"
                            class="form-control" #testFrameworks="ngModel"
                            multiple>
                        <option value="gatling">Gatling</option>
                        <option value="cucumber">Cucumber</option>
                        <option value="protractor" [hidden]="model.applicationType === 'microservice'">Protractor</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <p></p>
                    <div [ngSwitch]="!submitted">
                        <div *ngSwitchCase="true">
                            <button type="submit" class="btn btn-primary" [disabled]="!generatorForm.form.valid" (click)="onSubmit()" *ngIf="selectedGitProvider">
                                Generate on {{selectedGitProvider}}
                            </button>
                            <button type="submit" class="btn btn-info" [disabled]="!generatorForm.form.valid" (click)="onSubmitDownload()">
                                Download as Zip file
                            </button>
                            <button type="button" class="btn btn-dark" (click)="newGenerator()">Reset</button>
                        </div>
                        <div *ngSwitchCase="false">
                            <fa-icon [icon]="'sync'" [spin]="true"></fa-icon>
                            <button type="submit" class="btn btn-primary" [disabled]="true" *ngIf="selectedGitProvider">
                                Generate on {{selectedGitProvider}}
                            </button>
                            <button type="submit" class="btn btn-info" [disabled]="true">
                                Download as Zip file
                            </button>
                        </div>
                    </div>
                    <div *ngIf="!generatorForm.form.valid" class="alert alert-danger">The "Generate" button is disabled because there are errors in the form.</div>
                </div>
            </div>
        </div>
    </div>
</form>
