<div class="modal-header">
    <h4 class="modal-title"><span *ngIf="!displayApplicationUrl"><i class="fas fa-sync fa-spin"></i></span><span *ngIf="displayApplicationUrl"><i class="fas fa-sync"></i></span>&nbsp;Generating the application</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <pre>
Sending request to the server...
{{logs}}
                </pre>
            </div>
        </div>
        <div class="row" *ngIf="displayApplicationUrl && isGithubConfigured && selectedGitProvider === 'github'">
            <div class="col-md-12">
                <div class="lead">
                    <b>Application generated!</b><br/>Open your GitHub repository at <a href="https://github.com/{{selectedGitCompany}}/{{repositoryName}}" target="_blank">https://github.com/{{selectedGitCompany}}/{{repositoryName}}</a>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="displayApplicationUrl && isGitlabConfigured && selectedGitProvider === 'gitlab'">
            <div class="col-md-12">
                <div class="lead">
                    <b>Application generated!</b><br/>Open your GitLab repository at <a href="{{gitlabHost}}{{selectedGitCompany}}/{{repositoryName}}" target="_blank">{{gitlabHost}}{{selectedGitCompany}}/{{repositoryName}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" (click)="clear()" class="btn btn-primary">
        <span class="fas fa-times-circle"></span>&nbsp;Close this window
    </button>
</div>
