<form #generatorForm="ngForm">
  <h2 class="section-title">Application generation</h2>

  <hr />

  <!-- Project configuration -->
  <h3 class="section-title-sm">Project configuration</h3>

  <jhi-git-provider-alert *ngIf="isAuthenticated()" [tab]="'generate-application'"></jhi-git-provider-alert>
  <jhi-git-provider *ngIf="isAuthenticated()" (sharedData)="updateSharedData($event)" [simpleMode]="true"></jhi-git-provider>
  <ng-content select="[generator-header]"></ng-content>

  <div class="row g-3 mb-4">
    <div
      class="col-12"
      [class]="{
        'col-md-6': !config.hideRepositoryName || !config.hideApplicationType,
        'col-lg-4': !config.hideRepositoryName && !config.hideApplicationType
      }"
    >
      <label class="form-label" for="baseName">Application name</label>
      <input
        type="text"
        class="form-control"
        id="baseName"
        [(ngModel)]="model.baseName"
        name="baseName"
        #baseName="ngModel"
        required
        pattern="^([a-zA-Z0-9]*)$"
      />
      <div *ngIf="baseName.errors" class="alert alert-danger">
        Your application name cannot contain special characters or a blank space.
      </div>
    </div>

    <div
      *ngIf="!config.hideRepositoryName"
      class="col-12"
      [class]="{
        'col-md-6': !config.hideRepositoryName || !config.hideApplicationType,
        'col-lg-4': !config.hideRepositoryName && !config.hideApplicationType
      }"
    >
      <label class="form-label" for="repositoryName">Repository name</label>
      <input
        type="text"
        class="form-control"
        id="repositoryName"
        [(ngModel)]="repositoryName"
        name="repositoryName"
        required
        pattern="^([a-zA-Z0-9\-_]*)$"
      />
    </div>

    <div
      *ngIf="!config.hideApplicationType"
      class="col-12"
      [class]="{
        'col-md-6': !config.hideRepositoryName || !config.hideApplicationType,
        'col-lg-4': !config.hideRepositoryName && !config.hideApplicationType
      }"
    >
      <div>
        <label class="form-label" for="applicationType">Application type</label>
        <select
          id="applicationType"
          [(ngModel)]="model.applicationType"
          name="applicationType"
          class="form-select"
          #applicationType="ngModel"
          (change)="changeApplicationType()"
        >
          <option value="monolith">Monolithic application*</option>
          <option value="microservice">Microservice application</option>
          <option value="gateway">Microservice gateway</option>
        </select>

        <div class="form-text" [hidden]="model.applicationType !== 'monolith'"><sup>*</sup>Recommended for simple projects</div>
      </div>
    </div>
  </div>

  <hr />

  <!-- Server side options -->
  <div>
    <h3 class="section-title-sm">Server side options</h3>

    <div class="row g-3 mb-4">
      <div class="col-md-6">
        <div>
          <label class="form-label" for="packageName">Default Java package name</label>
          <input
            type="text"
            class="form-control"
            id="packageName"
            [(ngModel)]="model.packageName"
            name="packageName"
            #packageName="ngModel"
            required
            pattern="^([a-z_]{1}[a-z0-9_]*(\.[a-z_]{1}[a-z0-9_]*)*)$"
            (change)="changePackageName()"
          />
          <div *ngIf="packageName.errors" class="alert alert-danger">
            The package name you have provided is not a valid Java package name.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div>
          <label class="form-label" for="serverPort">Server port</label>
          <input
            type="number"
            class="form-control"
            id="serverPort"
            [(ngModel)]="model.serverPort"
            name="serverPort"
            #serverPort="ngModel"
            required
          />

          <div class="form-text">It should be unique to avoid port conflicts</div>
        </div>
      </div>
    </div>

    <div class="row g-3 mb-4">
      <div
        *ngIf="!config.hideServiceDiscoveryType && model.applicationType !== 'monolith'"
        class="col-12"
        [class]="{ 'col-md-6': !config.hideAuthenticationType }"
      >
        <div>
          <label class="form-label" for="serviceDiscoveryType">Service registry</label>
          <select
            id="serviceDiscoveryType"
            [(ngModel)]="model.serviceDiscoveryType"
            name="serviceDiscoveryType"
            class="form-select"
            #serviceDiscoveryType="ngModel"
            (change)="changeServiceDiscoveryType()"
          >
            <option value="consul">Consul</option>
            <option value="false">No</option>
            <option value="eureka">JHipster Registry (deprecated)</option>
          </select>
        </div>
      </div>

      <div
        *ngIf="!config.hideAuthenticationType"
        class="col-12"
        [class]="{ 'col-md-6': !config.hideServiceDiscoveryType && model.applicationType !== 'monolith' }"
      >
        <div>
          <label class="form-label" for="authenticationType">Authentication type</label>
          <select
            id="authenticationType"
            [(ngModel)]="model.authenticationType"
            name="authenticationType"
            class="form-select"
            #authenticationType="ngModel"
            (change)="changeAuthenticationType()"
          >
            <option value="jwt">JWT authentication (stateless, with a token)</option>
            <option value="oauth2">OAuth 2.0 / OIDC Authentication (stateful, works with Keycloak and Okta)</option>
            <option value="session" *ngIf="model.serviceDiscoveryType !== 'eureka' && model.applicationType === 'monolith'"
              >HTTP Session Authentication (stateful, default Spring Security mechanism)
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row g-3 mb-4">
      <div
        *ngIf="!config.hideDatabaseType"
        class="col-12"
        [class]="{
          'col-md-6': !config.hideProdDatabaseType || !config.hideDevDatabaseType,
          'col-lg-4': !config.hideProdDatabaseType && !config.hideDevDatabaseType
        }"
      >
        <div>
          <label class="form-label" for="databaseType">Database type</label>
          <select
            id="databaseType"
            [(ngModel)]="model.databaseType"
            name="databaseType"
            class="form-select"
            #databaseType="ngModel"
            (change)="changeDatabaseType()"
          >
            <option value="sql" *ngIf="!isDatabaseTypeOptionHidden('sql')">SQL*</option>
            <option value="mongodb" *ngIf="!isDatabaseTypeOptionHidden('mongodb')">MongoDB</option>
            <option value="cassandra" *ngIf="model.authenticationType !== 'oauth2' && !isDatabaseTypeOptionHidden('cassandra')"
              >Cassandra</option
            >
            <option value="couchbase" *ngIf="!isDatabaseTypeOptionHidden('couchbase')">Couchbase</option>
            <option value="neo4j" *ngIf="!isDatabaseTypeOptionHidden('neo4j')">Neo4j</option>
            <option value="no" *ngIf="!isDatabaseTypeOptionHidden('no')">No database</option>
          </select>

          <div *ngIf="!isDatabaseTypeOptionHidden('sql') && model.databaseType === 'sql'" class="form-text">
            <sup>*</sup>H2, MySQL, MariaDB, PostgreSQL, Oracle, MSSQL
          </div>
        </div>
      </div>

      <div
        *ngIf="!config.hideProdDatabaseType"
        class="col-12"
        [class]="{
          'col-md-6': !config.hideProdDatabaseType || !config.hideDevDatabaseType,
          'col-lg-4': !config.hideProdDatabaseType && !config.hideDevDatabaseType
        }"
      >
        <div>
          <label class="form-label" for="prodDatabaseType">Production database</label>
          <select
            id="prodDatabaseType"
            [(ngModel)]="model.prodDatabaseType"
            name="prodDatabaseType"
            class="form-select"
            #prodDatabaseType="ngModel"
            (change)="changeProdDatabaseType()"
          >
            <option value="postgresql" *ngIf="!isProdDatabaseOptionHidden('sql', 'postgresql')">PostgreSQL</option>
            <option value="mysql" *ngIf="!isProdDatabaseOptionHidden('sql', 'mysql')">MySQL</option>
            <option value="mariadb" *ngIf="!isProdDatabaseOptionHidden('sql', 'mariadb')">MariaDB</option>
            <option value="oracle" *ngIf="!isProdDatabaseOptionHidden('sql', 'oracle')">Oracle*</option>
            <option value="mssql" *ngIf="!isProdDatabaseOptionHidden('sql', 'mssql')">Microsoft SQL Server</option>
            <option value="mongodb" *ngIf="!isProdDatabaseOptionHidden('mongodb', 'mongodb')">MongoDB</option>
            <option value="cassandra" *ngIf="!isProdDatabaseOptionHidden('cassandra', 'cassandra')">Cassandra</option>
            <option value="couchbase" *ngIf="!isProdDatabaseOptionHidden('couchbase', 'couchbase')">Couchbase</option>
            <option value="neo4j" *ngIf="!isProdDatabaseOptionHidden('neo4j', 'neo4j')">Neo4j</option>
            <option
              value="no"
              [hidden]="config.disableNoDatabaseOptions == true"
              *ngIf="!isProdDatabaseOptionHidden('no', 'no') || !config.hideDatabaseType"
              >No database</option
            >
          </select>

          <div *ngIf="!isProdDatabaseOptionHidden('sql', 'oracle') && model.prodDatabaseType === 'oracle'" class="form-text">
            <sup>*</sup>Please follow our documentation to use the Oracle proprietary driver
          </div>
        </div>
      </div>

      <div
        *ngIf="!config.hideDevDatabaseType"
        class="col-12"
        [class]="{
          'col-md-6': !config.hideProdDatabaseType || !config.hideDevDatabaseType,
          'col-lg-4': !config.hideProdDatabaseType && !config.hideDevDatabaseType
        }"
      >
        <div>
          <label class="form-label" for="devDatabaseType">Development database</label>
          <select
            id="devDatabaseType"
            [(ngModel)]="model.devDatabaseType"
            name="devDatabaseType"
            class="form-select"
            #devDatabaseType="ngModel"
          >
            <option value="h2Disk" *ngIf="!isDevDatabaseOptionHidden('sql', 'h2Disk')">H2 with disk-based persistence</option>
            <option value="h2Memory" *ngIf="!isDevDatabaseOptionHidden('sql', 'h2Memory')">H2 with in-memory persistence</option>
            <option value="mysql" *ngIf="!isDevDatabaseOptionHidden('sql', 'mysql')">MySQL</option>
            <option value="mariadb" *ngIf="!isDevDatabaseOptionHidden('sql', 'mariadb')">MariaDB</option>
            <option value="postgresql" *ngIf="!isDevDatabaseOptionHidden('sql', 'postgresql')">PostgreSQL</option>
            <option value="oracle" *ngIf="!isDevDatabaseOptionHidden('sql', 'oracle')">Oracle*</option>
            <option value="mssql" *ngIf="!isDevDatabaseOptionHidden('sql', 'mssql')">Microsoft SQL Server</option>
            <option value="mongodb" *ngIf="!isDevDatabaseOptionHidden('mongodb', 'mongodb')">MongoDB</option>
            <option value="cassandra" *ngIf="!isDevDatabaseOptionHidden('cassandra', 'cassandra')">Cassandra</option>
            <option value="couchbase" *ngIf="!isDevDatabaseOptionHidden('couchbase', 'couchbase')">Couchbase</option>
            <option value="neo4j" *ngIf="!isDevDatabaseOptionHidden('neo4j', 'neo4j')">Neo4j</option>
            <option
              value="no"
              [hidden]="config.disableNoDatabaseOptions == false"
              *ngIf="!isDevDatabaseOptionHidden('no', 'no') || !config.hideDatabaseType"
              >No database</option
            >
          </select>

          <div *ngIf="!isDevDatabaseOptionHidden('sql', 'oracle') && model.devDatabaseType === 'oracle'" class="form-text">
            Please follow our documentation to use the Oracle proprietary driver
          </div>
        </div>
      </div>
    </div>

    <div class="row g-3 mb-4">
      <div class="col-12" *ngIf="config.hideIaCTool">
        <div>
          <label class="form-label" for="iaCTools">Use Infrastructure as Code tool(multiple choice)?</label>
          <select id="iaCTools" [(ngModel)]="model.iaCTools" name="iaCTools" class="form-select" #iaCTools="ngModel" multiple>
            <option *ngFor="let option of iaCToolOptions" [value]="option.value">{{ option.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row g-3 mb-4">
      <div class="col-md-6" *ngIf="!config.hideCacheProvider">
        <div>
          <label class="form-label" for="cacheProvider">Use Spring cache abstraction?</label>
          <select id="cacheProvider" [(ngModel)]="model.cacheProvider" name="cacheProvider" class="form-select" #cacheProvider="ngModel">
            <option value="ehcache">Yes, with ehcache (local cache, for a single node)</option>
            <option value="caffeine">Yes, with Caffeine (local cache, for a single node)</option>
            <option value="hazelcast">Yes, with HazelCast (distributed cache, for multiple nodes)</option>
            <option value="infinispan">Yes, with Infinispan (hybrid cache, for multiple nodes)</option>
            <option value="memcached">Yes, with Memcached (distributed cache)</option>
            <option value="redis">Yes, with Redis (single server)</option>
            <option value="no">No</option>
          </select>
        </div>
      </div>

      <div class="col-md-6" *ngIf="!config.hideHibernateCache" [hidden]="model.databaseType !== 'sql' || model.cacheProvider === 'no'">
        <div>
          <label class="form-label" for="enableHibernateCache">Use Hibernate 2nd level cache?</label>
          <select
            id="enableHibernateCache"
            [(ngModel)]="model.enableHibernateCache"
            name="enableHibernateCache"
            class="form-select"
            #enableHibernateCache="ngModel"
          >
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row g-3 mb-4">
      <div class="col-12" *ngIf="!config.hideBuildTool">
        <div>
          <label class="form-label" for="buildTool">Backend build tool</label>
          <select id="buildTool" [(ngModel)]="model.buildTool" name="buildTool" class="form-select" #buildTool="ngModel">
            <option value="maven">Maven</option>
            <option value="gradle">Gradle</option>
          </select>
        </div>
      </div>

      <div class="col-md-12" *ngIf="!config.hideOtherComponents">
        <label class="mb-2">Other technologies</label>

        <div class="row g-2">
          <div class="col-md-6">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="enableSwaggerCodegen"
                [(ngModel)]="model.enableSwaggerCodegen"
                name="enableSwaggerCodegen"
                #enableSwaggerCodegen="ngModel"
              />
              <label class="form-check-label" for="enableSwaggerCodegen">API first development using OpenAPI-generator</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="searchEngine"
                [(ngModel)]="model.searchEngine"
                name="searchEngine"
                #searchEngine="ngModel"
                [hidden]="model.databaseType === 'cassandra' || model.databaseType === 'couchbase'"
              />
              <label
                class="form-check-label"
                for="searchEngine"
                [hidden]="model.databaseType === 'cassandra' || model.databaseType === 'couchbase'"
                >Search engine using Elasticsearch</label
              >
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="websocket"
                [(ngModel)]="model.websocket"
                name="websocket"
                #websocket="ngModel"
              />
              <label class="form-check-label" for="websocket">WebSockets using Spring Websocket</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="messageBroker"
                [(ngModel)]="model.messageBroker"
                name="messageBroker"
                #messageBroker="ngModel"
              />
              <label class="form-check-label" for="messageBroker">Asynchronous messages using Apache Kafka</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <!-- Client side options -->
  <ng-container *ngIf="!config.hideClientSideOptions && model.applicationType !== 'microservice'">
    <h3 class="section-title-sm">Client side options</h3>

    <div class="row g-3 mb-4">
      <div class="col-md-6">
        <div>
          <label class="form-label" for="clientFramework">Client Framework</label>
          <select
            id="clientFramework"
            [(ngModel)]="model.clientFramework"
            name="clientFramework"
            class="form-select"
            #clientFramework="ngModel"
          >
            <option value="angularX">Angular</option>
            <option value="react">React</option>
            <option value="vue">Vue</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div>
          <label class="form-label" for="withAdminUi">Generate the admin UI?</label>
          <select id="withAdminUi" [(ngModel)]="model.withAdminUi" name="withAdminUi" class="form-select" #withAdminUi="ngModel">
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
          </select>
        </div>
      </div>
    </div>
    <hr />
  </ng-container>

  <ng-container *ngIf="!config.hideI18nOptions">
    <h3 class="section-title-sm">Internationalization options</h3>

    <div class="row g-3 mb-4">
      <div class="col-12">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="enableTranslation"
            [(ngModel)]="model.enableTranslation"
            name="enableTranslation"
            #enableTranslation="ngModel"
          />
          <label class="form-check-label" for="enableTranslation">Enable internationalization support?</label>
        </div>
      </div>

      <div class="col-12" [hidden]="!model.enableTranslation">
        <div>
          <label class="form-label" for="nativeLanguage">Native language of the application</label>
          <select
            id="nativeLanguage"
            [(ngModel)]="model.nativeLanguage"
            name="nativeLanguage"
            class="form-select"
            #nativeLanguage="ngModel"
          >
            <option *ngFor="let option of languageOptions" [value]="option.value">{{ option.name }}</option>
          </select>
        </div>
      </div>

      <div class="col-12" [hidden]="!model.enableTranslation">
        <div>
          <label class="form-label" for="languages">Additional languages to install</label>
          <select id="languages" [(ngModel)]="model.languages" name="languages" class="form-select" #languages="ngModel" multiple>
            <option *ngFor="let option of languageOptions" [value]="option.value">{{ option.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <hr />
  </ng-container>

  <ng-container *ngIf="!config.hideTestingOptions">
    <h3 class="section-title-sm">Testing options</h3>

    <div class="row g-3 mb-4">
      <div class="col-12">
        <div>
          <label class="form-label" for="testFrameworks">Besides JUnit and Jest, which testing frameworks would you like to use?</label>
          <select
            id="testFrameworks"
            [(ngModel)]="model.testFrameworks"
            name="testFrameworks"
            class="form-select"
            #testFrameworks="ngModel"
            multiple
          >
            <option value="gatling">Gatling</option>
            <option value="cucumber">Cucumber</option>
            <option value="cypress" *ngIf="model.applicationType !== 'microservice'">Cypress</option>
            <option value="protractor" *ngIf="model.applicationType !== 'microservice'">Protractor (deprecated)</option>
          </select>
        </div>
      </div>
    </div>
    <hr />
  </ng-container>

  <ng-content select="[generator-footer]"></ng-content>

  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <div [ngSwitch]="!submitted">
          <div *ngSwitchCase="true">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!generatorForm.form.valid"
              (click)="onSubmit()"
              *ngIf="selectedGitProvider"
            >
              Generate on {{ selectedGitProvider }}
            </button>

            <button type="submit" class="btn btn-primary" [disabled]="!generatorForm.form.valid" (click)="onSubmitDownload()">
              Download as Zip file
            </button>

            <button type="button" class="btn btn-secondary" (click)="newGenerator()">Reset</button>
          </div>

          <div *ngSwitchCase="false">
            <fa-icon [icon]="'sync'" [spin]="true"></fa-icon>
            <button type="submit" class="btn btn-success" [disabled]="true" *ngIf="selectedGitProvider">
              Generate on {{ selectedGitProvider }}
            </button>

            <button type="submit" class="btn btn-primary" [disabled]="true">
              Download as Zip file
            </button>
          </div>
        </div>

        <div *ngIf="!generatorForm.form.valid" class="alert alert-danger mt-3">
          The "Generate" button is disabled because there are errors in the form.
        </div>
      </div>
    </div>
  </div>
</form>
