@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-light-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  a.nav-link {
    font-weight: 500;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 32px;
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
