/* ==========================================================================
Statistics page styles
========================================================================== */

select {
    background: none;
    border: none;
    font-size: 140%;
}

select:hover {
    border-radius: 15px;
}

.chart {
    margin-bottom: 5%;
    box-shadow: 5px 5px #353d47;
}

/* ==========================================================================
Full screen mode
========================================================================== */

.fullScreen {
    padding: 1%;
    width: 100%;
}

.numbersCard {
    height: 150px;
    padding-top: 25px;
    width: 100%;
}

.margin-top {
    margin-top: 50px;
}

.chartBox {
    height: 350px;
}

.chartBoxContainer {
    margin: auto;
}

.categoryChart {
    background-color: #e0e0e0;
    margin-bottom: 5%;
    padding: 1%;
}
