<h2><span class="fas fa-chart-area"></span>&nbsp;<span>Statistics</span></h2>

<div class="container">
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center text-white bg-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-text">210</h4>
                    <strong>DAILY VISITS</strong>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center text-white bg-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-text">{{countYoRc | async}}</h4>
                    <strong>GENERATED PROJECTS</strong>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center text-white bg-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-text">{{countJdl | async}}</h4>
                    <strong>JDLs CREATED</strong>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center text-white bg-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-text">12,867</h4>
                    <strong>USERS</strong>
                </div>
            </div>
        </div>
    </div>
    &nbsp;
    <h4>Trend</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div style="background-color: #fff;">
                <div>
                    <label for="time"></label>
                    <select id="time" [(ngModel)]="timeScale" (ngModelChange)="onSelectTimeScale()">
                        <option value="days">Days</option>
                        <option value="months">Months</option>
                        <option value="years">Years</option>
                    </select>
                </div>
                <div #chart1 style="height: 300px;"></div>
            </div>
        </div>
    </div>
    &nbsp;
    <h4>React/Angular distribution</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div #chart3 style="height: 300px;"></div>
        </div>
        <div class="col-md-6">
            <div #chart2 style="height: 300px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div #chart4 style="height: 300px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div #chart5 style="height: 300px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div #chart6 style="height: 300px;"></div>
        </div>
    </div>
</div>
