<h2><span class="fas fa-chart-area"></span>&nbsp;<span>Statistics</span></h2>

<div class="container">
    <h4>Overall data</h4>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center text-white bg-success mb-3">
                <div class="card-body">
                    <!--<p class="card-text">{{countYoRc | async}}</p>-->
                    <p class="card-text">57847</p>
                    <p>&nbsp;</p>
                    <b>generated projects</b>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center text-white bg-primary mb-3">
                <div class="card-body">
                    <!--<p class="card-text">{{countJdl | async}}</p>-->
                    <p class="card-text">51145</p>
                    <p>&nbsp;</p>
                    <b>JDLs created</b>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center text-white bg-warning mb-3">
                <div class="card-body">
                    <p class="card-text">100007</p>
                    <p>&nbsp;</p>
                    <b>users</b>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center text-white bg-info mb-3">
                <div class="card-body">
                    <p class="card-text">210</p>
                    <p>&nbsp;</p>
                    <b>generated projects today</b>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3>Trend</h3>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div echarts [options]="options"></div>
        </div>
        <div class="col-md-6">
            <div echarts [options]="options2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div echarts [options]="options3"></div>
        </div>
        <div class="col-md-6">
            <div echarts [options]="options4"></div>
        </div>
    </div>
</div>
