/* ==========================================================================
Main page styles
========================================================================== */

.menu-notLogged {
    margin-top: 15px;
}

.page-wrapper {
    min-height: 400px;
}

/*==============================================================================
Side bar
============================================================================= */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

#wrapper.toggled {
    padding-left: 400px;
}

.side-menu {
    z-index: 1000;
    position: absolute;
    left: 400px;
    width: 0;
    margin-left: -350px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: none;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

#wrapper.toggled .side-menu {
    width: 350px;
    display: inline-block;
    border-right: 1px solid #ddd;
}

/* Sidebar Styles */

@media (min-width: 768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 400px;
    }
    .side-menu {
        width: 0;
    }
    #wrapper.toggled .side-menu {
        width: 350px;
    }
    .col-md-12 {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled .col-md-12 {
        position: relative;
        margin-right: 0;
    }
}
