<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entityStats">
            <h2><span>Entity Stats</span> {{entityStats.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Fields</span></dt>
                <dd>
                    <span>{{entityStats.fields}}</span>
                </dd>
                <dt><span>Relationships</span></dt>
                <dd>
                    <span>{{entityStats.relationships}}</span>
                </dd>
                <dt><span>Pagination</span></dt>
                <dd>
                    <span>{{entityStats.pagination}}</span>
                </dd>
                <dt><span>Dto</span></dt>
                <dd>
                    <span>{{entityStats.dto}}</span>
                </dd>
                <dt><span>Service</span></dt>
                <dd>
                    <span>{{entityStats.service}}</span>
                </dd>
                <dt><span>Fluent Methods</span></dt>
                <dd>
                    <span>{{entityStats.fluentMethods}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{entityStats.date}}</span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    <div *ngIf="entityStats.owner">
                        <a [routerLink]="['/owner-identity', entityStats.owner?.id, 'view']">{{entityStats.owner?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entity-stats', entityStats.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
