<div>
    <h2 id="page-heading">
        <span>Entity Stats</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entity-stats" [routerLink]="['/entity-stats/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Entity Stats
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="entityStats?.length === 0">
        <span>No entityStats found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="entityStats?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Year</span></th>
                    <th scope="col" ><span>Month</span></th>
                    <th scope="col" ><span>Week</span></th>
                    <th scope="col" ><span>Day</span></th>
                    <th scope="col" ><span>Hour</span></th>
                    <th scope="col" ><span>Fields</span></th>
                    <th scope="col" ><span>Relationships</span></th>
                    <th scope="col" ><span>Pagination</span></th>
                    <th scope="col" ><span>Dto</span></th>
                    <th scope="col" ><span>Service</span></th>
                    <th scope="col" ><span>Fluent Methods</span></th>
                    <th scope="col" ><span>Date</span></th>
                    <th scope="col" ><span>Owner</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entityStats of entityStats ;trackBy: trackId">
                    <td><a [routerLink]="['/entity-stats', entityStats.id, 'view']">{{ entityStats.id }}</a></td>
                    <td>{{ entityStats.year }}</td>
                    <td>{{ entityStats.month }}</td>
                    <td>{{ entityStats.week }}</td>
                    <td>{{ entityStats.day }}</td>
                    <td>{{ entityStats.hour }}</td>
                    <td>{{ entityStats.fields }}</td>
                    <td>{{ entityStats.relationships }}</td>
                    <td>{{ entityStats.pagination }}</td>
                    <td>{{ entityStats.dto }}</td>
                    <td>{{ entityStats.service }}</td>
                    <td>{{ entityStats.fluentMethods }}</td>
                    <td>{{ entityStats.date | date:'medium' }}</td>
                    <td>
                        <div *ngIf="entityStats.owner">
                            <a [routerLink]="['/generator-identity', entityStats.owner?.id, 'view']" >{{ entityStats.owner?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/entity-stats', entityStats.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/entity-stats', entityStats.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(entityStats)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
